body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#player-info {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin-bottom: 10px;
    color: #ffffff;
}

#player1-info, #player2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player1-name, #player2-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#stopwatch, #timer {
    font-size: 24px;
    background-color: rgba(61, 39, 39, 0.82);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

#game-container {
    position: relative;
    width: 850px;
    height: 600px;
    background: url('src/img/bg.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: overlay;
    border: 5px solid #e17000;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cat-container {
    position: absolute;
    bottom: 10px;
}

.cat {
    width: auto;
    height: 100px;
    cursor: pointer;
}

.blackout {
    filter: brightness(0);
}

.flip-horizontal {
    transform: scaleX(-1);
}

.falling-comet {
    position: absolute;
    width: 15px;
    height: auto;
}

#cat1-container {
    left: 50px;
}

#cat2-container {
    left: 650px;
}

#player-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffab76;
}

#player-form h2 {
    margin-bottom: 20px;
    color: #ffab76;
    font-size: 24px;
}

#player-form label {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #ffab76;
}

#player-form input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ffab76;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
}

#player-form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#player-form button:hover {
    background-color: #ffa347;
    transform: scale(1.05);
}

#score-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffab76;
    color: #ffffff;
}

#score-card h2 {
    margin-bottom: 20px;
    color: #ffab76;
    font-size: 24px;
}

#score-card button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#score-card button:hover {
    background-color: #ffa347;
    transform: scale(1.05);
}
